" Leader key
let mapleader = " "

" Remap Ctrl + S in Insert mode to save the file and switch to Normal mode
imap <C-s> <Esc>:w<CR>

map <C-p> :action SearchEverywhere<CR>

" Yank to clipboard
set clipboard+=unnamedplus

" Easy comment lines plugin
set commentary

" Highlight yank
set highlightedyank

" Make intelij recognize ctrl + k to select next LSP suggestion
set lookupkeys=<Tab>,<Down>,<Up>,<Enter>,<Left>,<Right>,<C-Down>,<C-Up>,<PageUp>,<PageDown>,<C-J>,<C-Q>,<C-K>

set NERDTree


" Map New Blank lines in normal mode with Enter keymap
nnoremap <CR> o<Esc>
nnoremap <A-CR> O<Esc>

" Map enter insert mode and go to indentation level
nnoremap a a<C-f>
nnoremap i i<C-f>

map <Leader>cf :action ReformatCode<CR>

map <Leader>co :action OptimizeImports<CR>

" Map visual mode > to push line and go back to visual mode
vmap > >gv

" Map visual mode < to shift line and go back to visual mode
vmap < <gv

nnoremap ]e :action GotoNextError<CR>
nnoremap [e :action GotoPreviousError<CR>

" Set import completion
map <Leader>ca :action ShowIntentionActions<CR>
