" Leader key
let mapleader = " "

" Remap Ctrl + S in Insert mode to save the file and switch to Normal mode
imap <C-s> <Esc>:w<CR>

map <C-p> :action SearchEverywhere<CR>

" Yank to clipboard
set clipboard+=unnamedplus

" Easy comment lines plugin
set commentary

" Highlight yank
set highlightedyank

" Make intelij recognize ctrl + k to select next LSP suggestion
set lookupkeys=<Tab>,<Down>,<Up>,<Enter>,<Left>,<Right>,<C-Down>,<C-Up>,<PageUp>,<PageDown>,<C-J>,<C-Q>,<C-K>

set NERDTree

" Map Alt + o in normal mode to open a new line below, exit insert mode, and move cursor up
map <A-o> <Esc>o<Esc>k

" Map Alt + Shift + o in normal mode to open a new line above, exit insert mode, and move cursor down
map <A-S-o> <Esc>O<Esc>
