[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/wesleyfebarretos/weslazy.git
[submodule "tmux/.config/tmux"]
	path = tmux/.config/tmux
	url = https://github.com/wesleyfebarretos/westmux.git
