[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = git@github.com:wesleyfebarretos/weslazy.git
[submodule "tmux/.config/tmux"]
	path = tmux/.config/tmux
	url = git@github.com:wesleyfebarretos/westmux.git
[submodule "zsh/.config/zsh"]
	path = zsh/.config/zsh
	url = git@github.com:wesleyfebarretos/zsh.git
